<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>HotelApp - View Registered Users</title>

            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

            <!-- Custom styles for this template -->
            <link href="/html/styles.css" rel="stylesheet">
            <style>
             a{
                 padding: 10px;
                 margin-right:15px;
             }
            </style>
    </head>
    <body class="text-center">

        <div class="cover-container">
          <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Hotel App</h3>
              <nav class="nav nav-masthead justify-content-center">
                <a href="/homepage">Home</a>
                <a href="/reservation">Make a reservation</a>
                <a href="/submit">View List Registered Users</a>
                <a href="/html/partials/viewhotel">View Hotels</a>
              </nav>
            </div>
          </header>
          <h1>successfully!</h1>
<h1>Your Information has been added!</h1>